<!DOCTYPE html>
<html>

<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>KDS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/screen.css'>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>

    <div class="mainContainer">
        <div class="kotContainer">

            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>

            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>
            <div class="kot">

                <div class="overlay ultralight"></div>
                <div class="overlay light"></div>

                <div class="kotContent">
                    <div class="kotHeader">
                        <div class="col left">
                            <img src="../images/scooter.png" class="icon">
                        </div>
                        <div class="col centre">sushil</div>
                        <div class="col right">1:30</div>
                    </div>
                    <div class="itemsContainer">
                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                        <div class="item">
                            <div class="qty">2</div>
                            <div class="itemName">soft drink</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">fresh lime juice</div>
                        </div>

                        <div class="item">
                            <div class="qty">1</div>
                            <div class="itemName">veg supream burger</div>
                        </div>

                    </div>
                    <div class="kotFooter">
                        <div class="circle left"></div>
                        <div class="orderNo"># 100</div>
                        <div class="circle right"></div>
                    </div>
                </div>

            </div>




        </div>
        <div class="footer">

            <div class="logo"></div>
            <div class="kotDetails">
                <div class="detailCol">
                    <div class="value">105</div>
                    <div class="label">total order</div>
                </div>
                <div class="detailCol">
                    <div class="value">230</div>
                    <div class="label">total items</div>
                </div>
            </div>

            <div class=" nav history">
                <img src="../images/history.png" class="icon">
            </div>
            <div class=" nav category">
                <img src="../images/list.png" class="icon">
            </div>
        </div>
    </div>

</body>

</html>